@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,700;1,300;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h3 {
  font-size: 28px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 16px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #E3E6F3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#header img {
  width: 100px;
  height: 50px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.actv {
  color: #088178;
}

#navbar li a.actv::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #036a63;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
  align-items: center;
}

#hero {
  background-image: url(/images/HP\ main\ img\,compr.JPG);
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 15px 30px;
}

#hero h2 {
  color: #036a63;
  padding-left: 6.5%;
}

#hero p {
  width: 50%;
  margin: 0.6% 0 0 6.5%;
  color: #242424;
}

#hero button {
  font-size: 16px;
  font-weight: 500;
  color: #E3E6F3;
  background-color: #036a63;
  border: none;
  padding: 4px 13px;
  border-radius: 12px;
  margin: 1.5% 0 0 33%;
  cursor: pointer;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}

#search-container {
  margin: 1em 0;
}

#search-container input {
  background-color: transparent;
  width: 40%;
  border: 1px solid #434159;
  padding: 1em 0.3em;
}



#search-container button {
  padding: 1em 2em;
  margin-left: 1em;
  background-color: #088178;
  color: #fff;
  border-radius: 5px;
  margin-top: 0.5em;
  border: 0.5px solid #000;
  cursor: pointer;
}

.button-value {
  border: 1.5px solid #088178;
  padding: 1em 2.2em;
  border-radius: 3em;
  background-color: transparent;
  color: #222;
  cursor: pointer;
}

.active {
  background-color: #088178;
  color: #fff;
}

#products {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 1.5em;
  padding: 2em 0;
}

.card {
  background-color: #fff;
  max-width: 18em;
  margin-top: 1em;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
}

.img-container {
  text-align: center;
}

img {
  max-width: 100%;
  object-fit: contain;
  height: 15em;
}

.container {
  padding-top: 1em;
  color: #110f29;
}

.container h5 {
  font-weight: 500;
}

.hide {
  display: none;
}

@media screen and (max-width:720px) {
  img {
    max-width: 100%;
    object-fit: contain;
    height: 10em;
  }

  .card {
    max-width: 10em;
    margin-top: 1em;
  }

  #products {
    grid-template-columns: auto auto;
    grid-column-gap: 1em;
  }
}



.prod-wrapper {
  max-width: 1100px;
  margin: auto;
}

.prod-wrapper img {
  width: 100%;
  display: block;
}

.prod-imgs {
  margin-bottom: 40px;
}


.img-display {
  overflow: hidden;
}

.show-img {

  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}

.show-img img {
  min-width: 100%;
  border: 1px solid #088178;
}

.img-select {
  display: flex;
}

.img-item {
  margin: 0.3rem;
  border: 1px solid #088178;
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
  margin-right: 0;
}

.img-item:hover {
  opacity: 0.8;
}

.prod-content {
  padding: 2rem 1rem;
}

.prod-title {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: #12263a;
  margin: 1rem 0;
}

.prod-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 80px;
  background: #12263a;
}

.prod-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  background: #256eff;
  color: #fff;
  padding: 0 0.3rem;
  transition: all 0.5s ease;
}

.prod-link:hover {
  opacity: 0.9;
}

.prod-rating {
  color: #ffc107;
}

.prod-rating span {
  font-weight: 600;
  color: #252525;
}

.prod-price {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
}

.prod-price span {
  font-weight: 400;
}

.last-price span {
  color: #f64749;
  text-decoration: line-through;
}

.new-price span {
  color: #256eff;
}

.prod-detail h3 {
  text-transform: capitalize;
  color: #12263a;
  padding-bottom: 0.2rem;
}

.prod-detail p {
  font-size: 0.9rem;
  opacity: 0.8;
}

.prod-detail ul {
  margin: 1rem 0;
  font-size: 0.9rem;
}

.prod-detail ul li {
  margin: 0;
  list-style: none;
  background: url(/images/backgro.img\ prod\ detail.jpg) left center no-repeat;
  background-size: 16px;
  padding-left: 1.7rem;
  margin: 0.4rem 0;
  font-weight: 600;
  opacity: 0.9;
}

.prod-detail ul li span {
  font-weight: 400;
}

.shop-info {
  margin: 1.5rem 0;
}

.shop-info input, .shop-info .prod-btn {
  border: 1.5px solid #ddd;
  border-radius: 25px;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
}

.shop-info input {
  width: 60px;
}

.shop-info .prod-btn {
  cursor: pointer;
  color: #fff;
}

.shop-info .prod-btn a {
  text-decoration: none;
  color: #fff;
}

.shop-info .prod-btn:first-of-type {
  background: #256eff;
}

.shop-info .prod-btn:last-of-type {
  background: #036a63;
}

.shop-info .prod-btn:hover {
  opacity: 0.9;
}

@media screen and (min-width: 992px) {
  .prod-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .prod-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .prod-imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}




.ch-container {
  width: 1200px;
  max-width: 90%;
  margin: auto;
  transition: transform 1s;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading img {
  width: 60px;
}

.heading .ch-cart {
  position: relative;
  z-index: 1;
}

.heading .totalQuantity {
  position: absolute;
  top: 0;
  right: 0;
  font-size: x-large;
  background-color: #b31010;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(20px);
}

.listProduct {
  display: grid;
  grid-template-columns: repeat(3, fr);
  gap: 20px;
}

.listProduct .ch-item h3 {
  font-weight: 700;
  font-size: x-large;
}

.listProduct .ch-item img {
  width: 100%;
}

.listProduct .ch-item {
  position: relative;
}

.listProduct .ch-item button {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #088178;
  color: #fff;
  width: 50%;
  border: none;
  padding: 20px 30px;
  box-shadow: 0 10px 50px #000;
  cursor: pointer;
  transform: translateX(-50%) translateY(100px);
  opacity: 0;
}

.listProduct .ch-item:hover button {
  transition: 0.5s;
  opacity: 1;
  transform: translateX(-50%);
}

.che-cart {
  color: #fff;
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100vh;
  background-color: #0e0f11;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  gap: 20px;
  transition: right 1s;
}

.che-cart h3 {
  color: #e8bc0e;
  padding: 20px;
  margin: 0;
}

.che-cart .che-listCart .che-item {
  display: grid;
  grid-template-columns: 50px 1fr 70px;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.che-cart .che-listCart img {
  width: 100%;
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
  border-radius: 10px;
}

.che-cart .che-listCart .che-item .che-name {
  font-weight: bold;
}

.che-cart .che-listCart .che-item .che-quantity {
  display: flex;
  justify-content: end;
  align-items: center;
}

.che-cart .che-listCart .che-item span {
  display: block;
  width: 50px;
  text-align: center;
}

.che-cart .che-listCart {
  padding: 20px;
  overflow: auto;
}

.che-cart .che-listCart::-webkit-scrollbar {
  width: 0;
}

.che-cart .che-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}

.che-cart .che-buttons div {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

.che-cart .che-buttons a {
  color: #fff;
}

.che-cart .che-buttons .chekcout {
  background-color: #e8bc0e;
}











main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h2 {
  color: #333;
}




main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h2 {
  color: #333;
}












#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #041e42;
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}

#newsletter p span {
  color: #ffbd27;
}

#newsletter .form {
  display: flex;
  width: 40%;
}

#newsletter input {

  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

}

#newsletter button {
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


footer {
  display: flex;
  flex-wrap: wrap;
  background: #E3E6F3;
  justify-content: space-between;
}

footer img {
  width: 100px;
  height: 50px;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 30px;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;

}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .follow i:hover,
footer a:hover {
  color: #088178;
}

footer .install {
  display: inline
}

footer .install .row img {
  width: 40px;
  height: 23px;
  border: 0.5px solid #088178;
  border-radius: 6px;
}

footer .install img {
  width: 35px;
  height: 20px;
  margin: 10px 5px;
}

footer .copyright {
  width: 100%;
  text-align: center;
}



@media (max-width:799px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }

  #navbar .active {
    right: 0px;
  }

  #navbar li {
    margin-bottom: 25px;
    ;
  }

  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }

  #hero {
    height: 70vh;
    padding: 20px 0;
    background-position: top 30% right 30%;
  }

  #hero button {
    margin: 1.5% 0 0 18%;
  }

  h3 {
    margin: 100px 0 0;

  }

  #testim .tes-box {
    width: 40%;
  }

  #testim .tes-box p {
    padding: 20px 10px;
  }

  #product1 .pro-container {
    justify-content: center;
  }

  #product1 .pro {
    margin: 20px;

  }

  #newsletter .form {
    width: 70%;
  }
}


@media (max-width:477px) {
  #header {
    padding: 10px 30px;
  }

  h2 {
    font-size: 32px;
    width: 70%;
  }

  #hero p {
    width: 70%;

    color: #000000;
  }

  #hero {
    padding: 10px;
    background-position: 55%;
  }

  #hero button {
    margin: 5%;
  }

  #testim {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  #newsletter h4 {
    font-size: 20px;

  }

  #newsletter .form {
    width: 100%;
  }

  .section-p1 {
    padding: 40px;
  }
}